.shit{
	background-color: red;
}

.square{
	background: blue;
	transition-duration: 2s;
	height: 200px;
	width: 200px;
	position: absolute;
}

.square:hover{
	background: green;
	transform: rotateX(360deg);
}